.plantsContainer {
    gap: 50px;
    display: grid;
    padding: 5px 0;
    margin-top: 15px;
    grid-template-columns: repeat(4, 1fr);
    .plant {
        display: flex;
        overflow: hidden;
        min-height: 300px;
        border-radius: 15px;
        align-items: flex-end;
        flex-direction: column;
        justify-content: space-between;
        .plantImage {
            object-fit: cover;
            object-position: 100% 12%;
        }
        .plantDataRow {
            width: 100%;
            display: flex;
            padding: 15px 0;
            text-align: center;
            color: var(--font);
            background: white;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            .subData {
                font-size: 14px;
            }
        }
    }
}