.emptySpacer {
    display: none;
}

.badge {
    color: black;
    font-size: 12px;
    font-weight: 700;
    padding: 5px 11px;
    background: white;
    border-radius: 100px;
    transition: var(--transition);
    font-family: 'Montserrat' !important;
}

.kanban-board {
    display: flex;
    gap: 16px;
    padding: 16px;
    background: #f4f4f4;
  }
  
  .kanban-column {
    flex: 1;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
  }
  
  .kanban-column-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 12px;
  }
  
  .kanban-column-cards {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .kanban-card {
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: grab;
  }

  .slot[data-swapy-highlighted] {
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.2);
  }

  .column {
    min-width: 350px;
    border-radius: 15px;
  }

body {
    .Toastify__close-button {
        display: none;
    }
    .signupBtn {
        &.active {
            color: white !important;
            background: var(--primary) !important;
            &:hover {
                background: var(--secondary) !important;
            }
        }
    }
    &:has(.dark) {
        .homeHoverLink {
            --font: white;
            color: white;
            transition: var(--transition);
            &:hover {
                color: var(--primary);
            }
        }
        background: var(--secondaryVariant);
        header {
            background: var(--secondaryVariant);
            // background: rgba(38, 70, 83, 0.85);
        }
        main {
            background: var(--secondaryVariant) !important;
            aside, .arrowDown svg path, .search svg path {
                fill: white !important;
                color: white !important;
                stroke: white !important;
            }
            .sideMenu .hamburger span {
                background: white;
            }
        }
        footer {
            background: var(--secondaryVariant);
            .sectionEndText, .authLabel, .formLabel, .formElements ion-label {
                color: white;
            }
            .formElements {
                button {
                    background: var(--secondary) !important;
                    &:hover {
                        background: var(--primary) !important;
                    }
                }
            }
        }
    }
}